<div class="intake_logs">
  <div class="grid">
    <div class="new-intake-log-box">
      <div data-turbolinks="false">
        <%= link_to "レシピから選ぶ",recipes_path, class: "btn btn-outline-dark" %>
        <%= link_to "食材から選ぶ",ingredients_path, class: "btn btn-outline-dark" %>
      </div>
    </div>
    <div class="intake-logs-box">
      <p class="box-title">カロリーログ / 一覧</p>
      <table class="table table-hover table-bordered">
        <thead>
          <tr class="active">
            <th  class="col-xs-1">日付</th>
            <th  class="col-xs-1">内容</th>
            <th  class="col-xs-1">総カロリー</th>
            <th  class="col-xs-1">詳細</th>
          </tr>
        </thead>
        <tbody>
          <% @intake_dates.each do |intake_date| %>
          <% daily_total_calorie = 0 %>
          <tr>
            <td><%= intake_date.recorded_on.strftime('%Y / %m / %d') %></td>
            <td>
              <% intake_date.intake_recipes.each do |intake_recipe| %>
              <p>・<%= intake_recipe.recipe.dish_name %>　<%= intake_recipe.number %> 食</p>

              <% intake_calorie = (intake_recipe.recipe.total_calorie*intake_recipe.number).round %>
              <% daily_total_calorie += intake_calorie%>
              <% end %>
              <% intake_date.intake_ingredients.each do |intake_ingredient| %>
              <p>・<%= intake_ingredient.ingredient.name %>　<%= intake_ingredient.weight.round %> g</p>

              <% intake_calorie = (intake_ingredient.ingredient.total_calorie*intake_ingredient.weight/100).round %>
              <% daily_total_calorie += intake_calorie%>
              <% end %>
            </td>
            <td>
              <p><%= daily_total_calorie %> kcal</p>
            </td>
            <td>
              <div data-turbolinks="false">
                <%= link_to "詳細",intake_log_path(intake_date), class: "btn btn-outline-dark" %>
              </td>
            </div>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>