<div class="recipes_input">
  <%= form_with model: @latest_recipe, local: true do |f| %>
  <div class="grid">
    <div class="selected-ingredients-box">
      <p class="box-title">食材</p>
      <table class="table table-hover table-bingrediented">
        <thead>
          <tr class="active">
            <th  class="col-xs-1">食材名</th>
            <th  class="col-xs-2">グラム</th>
          </tr>
        </thead>
        <tbody>
          <% @recipe_ingredients.each do |recipe_ingredient| %>
          <tr>
            <td class="p-center_v"><%= recipe_ingredient.ingredient.name %></td>
            <td class="p-center_v"><%= recipe_ingredient.weight %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="calorie-info-box">
      <p class="box-title">1食分のカロリー成分</p>
    </div>

    <div class="recipe-input-box">
      <p class="box-title">情報入力</p>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="item-image">
              <%= attachment_image_tag @latest_recipe, :dish_image, class: "img-square", fallback: "no_image.png", size:"250x250" %>
            </div>
            <div class="form-group">
              <%= f.label :dish_image, class: "col-xs-2 control-labeltext-left" %>
              <%= f.attachment_field :dish_image %>
            </div>
          </div>
          <div class="col-md-8">
            <div class="form-group">
              <%= f.label :dish_name %>
              <%= f.text_field :dish_name, class: "validate required_dish_name form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :method %>
              <%= f.text_area :method, class: "validate required_method form-control" ,style: "height: 200px"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.hidden_field :creation_status, :value => "内容確認" %>
    <%= f.submit '内容確認へ進む', :class => 'btn btn-outline-dark col-xs-12', :id => 'next' %>
  </div>

  <% end %>

  <%= form_with model: @latest_recipe, local: true do |f| %>
  <div>
    <%= f.hidden_field :creation_status, :value => "食材選択" %>
    <%= f.submit '食材選択へ戻る', :id => 'back' %>
  </div>
  <% end %>
</div>

<%= javascript_include_tag 'input_recipe.js' %>